.navbar-row {
    margin-top: 20px;
}

.panel-body > table {
    margin-top: 20px;
}

.ready {
    background-color: #777;
}

.error {
    background-color: #D9534F;
}

.failure {
    background-color: #F0AD4E;
}

.success {
    background-color: #5CB85C;
}

td, th {
    text-align: center;
}

.hook-id {
    display: none;
}

td.branch-name,.repos-title {
    cursor: pointer;
}
